{% extends '__base__.html' %}

{% block title %}工作流{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a>搜索结果</a></li>
                <li class="uk-active"><span>到达的工作流</span></li>
                <li ><a href="/">创建的工作流</a></li>
            </ul>
        </div>
    </div>

        <div  class="uk-width-1-1">
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-3-10">文件名</th>
                    <th class="uk-width-3-10">图号</th>
                    <th class="uk-width-2-10">创建时间</th>
                    <th class="uk-width-1-10">作者</th>
                    <th class="uk-width-1-10">编辑</th>
                </tr>
            </thead>            
            <tbody>
            {% for file in files %}
                <tr>
                    <td>
                        <a href='/api/filedownload/?id={{ file.pk }}'>{{ file.fields.filename }}</a>
                    </td>
                    <td>
                        <a href='/api/filedownload/?id={{ file.pk }}'>{{file.fields.filenumber}}</a>
                    </td>
                    <td>
                        <span >{{ file.fields.created_at }}</span>
                    </td>
                    <td>
                        <span>{{file.fields.user_name}}</span>
                    </td>
                    <td><a href="/processForm/?id={{ file.pk }}"><i class="uk-icon-edit"></i>
                        <a href="#0" v-on="click: delete_file(file)"><i class="uk-icon-trash-o"></i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href='{{ url }}?page={{ page.page_index|add:"-1" }}'><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url  }}?page={{ page.page_index|add:'1' }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
        </div>
    </div>
</div>
{% endblock %}